<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>mule-ee-releases</id>
      <username>${env.CONNECTED_APP_CLIENT_ID}</username>
      <password>${env.CONNECTED_APP_CLIENT_SECRET}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>mule-ee</id>
      <repositories>
        <repository>
          <id>mule-ee-releases</id>
          <name>MuleSoft EE Releases</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
        </repository>
        <repository>
          <id>mule-ee-snapshots</id>
          <name>MuleSoft EE Snapshots</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/snapshots-ee/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mule-ee-plugins</id>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>mule-ee</activeProfile>
  </activeProfiles>

</settings>
